{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary flex-shrink-0 me-2 mt-12 flR"><i class="fa fa-save"> </i> {{ button_label|default('Valider') }}</button>
{{ form_end(form) }}

<style>
label {

  display: inline-block;
  position: relative;
  padding : 10px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

    border-radius: 5px;
}

{# label checked css #}



</style>