{% extends 'base.html.twig' %}

{% block title %}Edit VanCaracteristique{% endblock %}

{% block body %}
    <h1>Edit VanCaracteristique</h1>

    {{ include('van_caracteristique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_van_caracteristique_index') }}">back to list</a>

    {{ include('van_caracteristique/_delete_form.html.twig') }}
{% endblock %}
