{# {% extends 'page.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}


<div class="container-fluid">

{# iframe #}

<iframe id="mediaFrame" width="100%" height="900px" src="/manager/?conf=button&module=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



</div>


{% endblock %}
