{% extends 'page.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}



<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-4 mb-md-5 mb-xl-10">
<div class="card-xl-stretch me-md-6 shadow-sm">
															<!--begin::Overlay-->
															<a class="d-block overlay" data-fslightbox="latest-posts" href="/agence">
																<!--begin::Image-->
																<div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/img/Grenoble.jpg')"></div>
																<!--end::Image-->
																<!--begin::Action-->
																<div class="overlay-layer card-rounded bg-dark bg-opacity-25">
																	<i class="bi bi-eye-fill fs-2x text-white"></i>
																</div>
																<!--end::Action-->
															</a>
															<!--end::Overlay-->
															<!--begin::Body-->
															<div class="mt-5 p-5">
																<!--begin::Title-->
																<a href="/agence" class="fs-4 text-dark fw-bold text-hover-primary lh-base"><i class="fa-solid fa-house"></i> Agences BLACKSHEEP</a>
																<!--end::Title-->
																<!--begin::Text-->
																<div class="fw-semibold fs-5 text-gray-600 pt-3">Gestion des Agences BLACKSHEEP</div>
																<!--end::Text-->
																<!--begin::Footer-->
																<div class="d-flex flex-stack flex-wrap pt-4 gap-2">
																	<!--begin::Label-->
																	<span class="rounded border border-dashed fs-2 fw-bold text-dark py-1 px-2">
																	<span class="fs-6 fw-semibold text-gray-400"></span></span>
																	<!--end::Label-->
																	<!--begin::Action-->
																	<a href="/agence" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> Consulter</a>
																	<!--end::Action-->
																</div>
																<!--end::Footer-->
															</div>
															<!--end::Body-->
														</div>

</div>


<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-4 mb-md-5 mb-xl-10">
<div class="card-xl-stretch me-md-6 shadow-sm">
															<!--begin::Overlay-->
															<a class="d-block overlay" data-fslightbox="latest-posts" href="/campervan">
																<!--begin::Image-->
																<div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/img/FlorianKeller.Images_6706-scaled-e1669024570782.webp')"></div>
																<!--end::Image-->
																<!--begin::Action-->
																<div class="overlay-layer card-rounded bg-dark bg-opacity-25">
																	<i class="bi bi-eye-fill fs-2x text-white"></i>
																</div>
																<!--end::Action-->
															</a>
															<!--end::Overlay-->
															<!--begin::Body-->
															<div class="mt-5 p-5">
																<!--begin::Title-->
																<a href="#" class="fs-4 text-dark fw-bold text-hover-primary lh-base"><i class="fa-solid fa-van-shuttle"></i> Campervans BLACKSHEEP</a>
																<!--end::Title-->
																<!--begin::Text-->
																<div class="fw-semibold fs-5 text-gray-600 pt-3">Gestion des Campervans BLACKSHEEP</div>
																<!--end::Text-->
																<!--begin::Footer-->
																<div class="d-flex flex-stack flex-wrap pt-4 gap-2">
																	<!--begin::Label-->
																	<span class="rounded border border-dashed fs-2 fw-bold text-dark py-1 px-2">
																	<span class="fs-6 fw-semibold text-gray-400"></span></span>
																	<!--end::Label-->
																	<!--begin::Action-->
																	<a href="/campervan" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> Consulter</a>
																	<!--end::Action-->
																</div>
																<!--end::Footer-->
															</div>
															<!--end::Body-->
														</div>

</div>


<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-4 mb-md-5 mb-xl-10">
<div class="card-xl-stretch me-md-6 shadow-sm">
															<!--begin::Overlay-->
															<a class="d-block overlay" data-fslightbox="latest-posts" href="/content">
																<!--begin::Image-->
																<div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/img/cms.png')"></div>
																<!--end::Image-->
																<!--begin::Action-->
																<div class="overlay-layer card-rounded bg-dark bg-opacity-25">
																	<i class="bi bi-eye-fill fs-2x text-white"></i>
																</div>
																<!--end::Action-->
															</a>
															<!--end::Overlay-->
															<!--begin::Body-->
															<div class="mt-5 p-5">
																<!--begin::Title-->
																<a href="#" class="fs-4 text-dark fw-bold text-hover-primary lh-base"><i class="fa-solid fa-file-code"></i> CMS BLACKSHEEP</a>
																<!--end::Title-->
																<!--begin::Text-->
																<div class="fw-semibold fs-5 text-gray-600 pt-3">Gestion des contenus BLACKSHEEP (Pages, articles, SEO...)</div>
																<!--end::Text-->
																<!--begin::Footer-->
																<div class="d-flex flex-stack flex-wrap pt-4 gap-2">
																	<!--begin::Label-->
																	<span class="rounded border border-dashed fs-2 fw-bold text-dark py-1 px-2">
																	<span class="fs-6 fw-semibold text-gray-400"></span></span>
																	<!--end::Label-->
																	<!--begin::Action-->
																	<a href="/content" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> Consulter</a>
																	<!--end::Action-->
																</div>
																<!--end::Footer-->
															</div>
															<!--end::Body-->
														</div>

</div>

<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-4 mb-md-5 mb-xl-10">
<div class="card-xl-stretch me-md-6 shadow-sm">
															<!--begin::Overlay-->
															<a class="d-block overlay" data-fslightbox="latest-posts" href="/library">
																<!--begin::Image-->
																<div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/img/media.png')"></div>
																<!--end::Image-->
																<!--begin::Action-->
																<div class="overlay-layer card-rounded bg-dark bg-opacity-25">
																	<i class="bi bi-eye-fill fs-2x text-white"></i>
																</div>
																<!--end::Action-->
															</a>
															<!--end::Overlay-->
															<!--begin::Body-->
															<div class="mt-5 p-5">
																<!--begin::Title-->
																<a href="#" class="fs-4 text-dark fw-bold text-hover-primary lh-base"><i class="fa-solid fa-image"></i> MEDIA BLACKSHEEP</a>
																<!--end::Title-->
																<!--begin::Text-->
																<div class="fw-semibold fs-5 text-gray-600 pt-3">Gestion des médias BLACKSHEEP (Visuels, PDF...)</div>
																<!--end::Text-->
																<!--begin::Footer-->
																<div class="d-flex flex-stack flex-wrap pt-4 gap-2">
																	<!--begin::Label-->
																	<span class="rounded border border-dashed fs-2 fw-bold text-dark py-1 px-2">
																	<span class="fs-6 fw-semibold text-gray-400"></span></span>
																	<!--end::Label-->
																	<!--begin::Action-->
																	<a href="/library" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> Consulter</a>
																	<!--end::Action-->
																</div>
																<!--end::Footer-->
															</div>
															<!--end::Body-->
														</div>

</div>

<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-4 mb-md-5 mb-xl-10">
<div class="card-xl-stretch me-md-6 shadow-sm">
															<!--begin::Overlay-->
															<a class="d-block overlay" data-fslightbox="latest-posts" href="/user">
																<!--begin::Image-->
																<div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/img/users.png')"></div>
																<!--end::Image-->
																<!--begin::Action-->
																<div class="overlay-layer card-rounded bg-dark bg-opacity-25">
																	<i class="bi bi-eye-fill fs-2x text-white"></i>
																</div>
																<!--end::Action-->
															</a>
															<!--end::Overlay-->
															<!--begin::Body-->
															<div class="mt-5 p-5">
																<!--begin::Title-->
																<a href="#" class="fs-4 text-dark fw-bold text-hover-primary lh-base"><i class="fa-solid fa-users"></i> UTILISATEURS BLACKSHEEP</a>
																<!--end::Title-->
																<!--begin::Text-->
																<div class="fw-semibold fs-5 text-gray-600 pt-3">Gestion des utilisateurs BLACKSHEEP</div>
																<!--end::Text-->
																<!--begin::Footer-->
																<div class="d-flex flex-stack flex-wrap pt-4 gap-2">
																	<!--begin::Label-->
																	<span class="rounded border border-dashed fs-2 fw-bold text-dark py-1 px-2">
																	<span class="fs-6 fw-semibold text-gray-400"></span></span>
																	<!--end::Label-->
																	<!--begin::Action-->
																	<a href="/user" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> Consulter</a>
																	<!--end::Action-->
																</div>
																<!--end::Footer-->
															</div>
															<!--end::Body-->
														</div>

</div>

<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-4 mb-md-5 mb-xl-10">
<div class="card-xl-stretch me-md-6 shadow-sm">
															<!--begin::Overlay-->
															<a class="d-block overlay" data-fslightbox="latest-posts" href="/api">
																<!--begin::Image-->
																<div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/img/api.png')"></div>
																<!--end::Image-->
																<!--begin::Action-->
																<div class="overlay-layer card-rounded bg-dark bg-opacity-25">
																	<i class="bi bi-eye-fill fs-2x text-white"></i>
																</div>
																<!--end::Action-->
															</a>
															<!--end::Overlay-->
															<!--begin::Body-->
															<div class="mt-5 p-5">
																<!--begin::Title-->
																<a href="#" class="fs-4 text-dark fw-bold text-hover-primary lh-base"><i class="fa-solid fa-wrench"></i> API BLACKSHEEP</a>
																<!--end::Title-->
																<!--begin::Text-->
																<div class="fw-semibold fs-5 text-gray-600 pt-3">Gestion de l'API Rest BLACKSHEEP</div>
																<!--end::Text-->
																<!--begin::Footer-->
																<div class="d-flex flex-stack flex-wrap pt-4 gap-2">
																	<!--begin::Label-->
																	<span class="rounded border border-dashed fs-2 fw-bold text-dark py-1 px-2">
																	<span class="fs-6 fw-semibold text-gray-400"></span></span>
																	<!--end::Label-->
																	<!--begin::Action-->
																	<a href="/api" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> Consulter</a>
																	<!--end::Action-->
																</div>
																<!--end::Footer-->
															</div>
															<!--end::Body-->
														</div>

</div>
{% endblock %}
