{% extends 'page.html.twig' %}
{% block title %}Edit Stateofplay{% endblock %}

{% block body %}
    <h1>Edit Stateofplay</h1>

    {{ include('Stateofplay/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_Stateofplay_index') }}">back to list</a>

    {{ include('Stateofplay/_delete_form.html.twig') }}
{% endblock %}
