<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Poursuivre la suppression du contenu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-sm btn-danger btnDel"><i class="fa fa-trash"></i> Supprimer !</button>
</form>
