{% extends 'page.html.twig' %}

{% block title %}403 FORBIDDEN{% endblock %}

{% block body %}

{# block stylesheet #}






<div class="d-flex flex-column flex-column-fluid" data-select2-id="select2-data-147-crvd">

							<!--begin::Content-->
							<div id="kt_app_content" class="app-content flex-column-fluid" data-select2-id="select2-data-kt_app_content">
								<!--begin::Content container-->
								<div id="kt_app_content_container" class="app-container container-xxl" data-select2-id="select2-data-kt_app_content_container">
									<!--begin::Card-->




<img src="{{ asset('img/403.gif') }}" alt="" class="text-center" >


									<!--end::Card-->
								</div>
								<!--end::Content container-->
							</div>
							<!--end::Content-->
						</div>
{% endblock %}
