<form method="post" action="{{ path('app_agence_delete', {'id': agence.id}) }}" onsubmit="return confirm('Poursuivre la suppression du contenu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agence.id) }}">
    <button class="btn btn-danger btnDel"><i class="fa fa-trash"></i> </button>
</form>
